.toggle-button
{
	
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-font-size: 15pt;
	
}

.toggle-button:selected
{
	-fx-text-fill: rgb(34, 177, 76);
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	
	
}