.toggle-button
{
	/*-fx-background-image: url("face.png"),  url("facefeet.png"), url("feet.png");*/
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: #f4f4f4;
	
}

/*.toggle-button:selected
{
	/*-fx-background-image: url("face.png"),  url("facefeet.png"), url("feet.png");*/
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: #f4f4f4;
}*/